Source: stsbl-iserv-server-doqproxy
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-iserv,
 dh-sequence-stsbl,
Standards-Version: 4.5.1
Homepage: https://it.stsbl.de/

Package: stsbl-iserv-server-doqproxy
Architecture: all
Xb-Private-Iserv-Revision: ${iserv:Revision}
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-ssl,
  iserv-update,
  doq-proxy,
Description: DoQ-Proxy-Server für IServ
 Stellt einen Proxy für DNS-Zugriff über DNS-over-QUIC zur Verfügung.
Tag: suite::iserv
